<div class="grid-45">
    <h3>Basic Paginator:</h3>
    <div class="basic-paginator-controls-example"></div>
    <div class="content-pane">
        <div class="items">
            <div class="item"><span>1</span></div>
            <div class="item"><span>2</span></div>
            <div class="item"><span>3</span></div>
            <div class="item"><span>4</span></div>
            <div class="item"><span>5</span></div>
            <div class="item"><span>6</span></div>
            <div class="item"><span>7</span></div>
            <div class="item"><span>8</span></div>
            <div class="item"><span>9</span></div>
        </div>
    </div>
</div>

<div class="grid-45">
    <h3>Paginator With TextField:</h3>
    <div class="paginator-with-textfield-example"></div>
    <div class="content-pane">
        <div class="items">
            <div class="item"><span>1</span></div>
            <div class="item"><span>2</span></div>
            <div class="item"><span>3</span></div>
            <div class="item"><span>4</span></div>
            <div class="item"><span>5</span></div>
            <div class="item"><span>6</span></div>
            <div class="item"><span>7</span></div>
            <div class="item"><span>8</span></div>
            <div class="item"><span>9</span></div>
            <div class="item"><span>10</span></div>
            <div class="item"><span>11</span></div>
            <div class="item"><span>12</span></div>
            <div class="item"><span>13</span></div>
            <div class="item"><span>14</span></div>
            <div class="item"><span>15</span></div>
            <div class="item"><span>16</span></div>
            <div class="item"><span>17</span></div>
            <div class="item"><span>18</span></div>
            <div class="item"><span>19</span></div>
            <div class="item"><span>20</span></div>
            <div class="item"><span>21</span></div>
            <div class="item"><span>22</span></div>
            <div class="item"><span>23</span></div>
            <div class="item"><span>24</span></div>
            <div class="item"><span>25</span></div>
            <div class="item"><span>26</span></div>
            <div class="item"><span>27</span></div>
            <div class="item"><span>28</span></div>
            <div class="item"><span>29</span></div>
            <div class="item"><span>30</span></div>
            <div class="item"><span>31</span></div>
            <div class="item"><span>32</span></div>
            <div class="item"><span>33</span></div>
            <div class="item"><span>34</span></div>
            <div class="item"><span>35</span></div>
            <div class="item"><span>36</span></div>
            <div class="item"><span>37</span></div>
            <div class="item"><span>38</span></div>
            <div class="item"><span>39</span></div>
            <div class="item"><span>40</span></div>
            <div class="item"><span>41</span></div>
            <div class="item"><span>42</span></div>
            <div class="item"><span>43</span></div>
            <div class="item"><span>44</span></div>
            <div class="item"><span>45</span></div>
            <div class="item"><span>46</span></div>
            <div class="item"><span>47</span></div>
            <div class="item"><span>48</span></div>
            <div class="item"><span>49</span></div>
            <div class="item"><span>50</span></div>
            <div class="item"><span>51</span></div>
            <div class="item"><span>52</span></div>
            <div class="item"><span>53</span></div>
            <div class="item"><span>54</span></div>
            <div class="item"><span>55</span></div>
            <div class="item"><span>56</span></div>
            <div class="item"><span>57</span></div>
            <div class="item"><span>58</span></div>
            <div class="item"><span>59</span></div>
            <div class="item"><span>60</span></div>
            <div class="item"><span>61</span></div>
            <div class="item"><span>62</span></div>
            <div class="item"><span>63</span></div>
            <div class="item"><span>64</span></div>
            <div class="item"><span>65</span></div>
            <div class="item"><span>66</span></div>
            <div class="item"><span>67</span></div>
            <div class="item"><span>68</span></div>
            <div class="item"><span>69</span></div>
            <div class="item"><span>70</span></div>
            <div class="item"><span>71</span></div>
            <div class="item"><span>72</span></div>
            <div class="item"><span>73</span></div>
            <div class="item"><span>74</span></div>
            <div class="item"><span>75</span></div>
            <div class="item"><span>76</span></div>
            <div class="item"><span>77</span></div>
            <div class="item"><span>78</span></div>
            <div class="item"><span>79</span></div>
            <div class="item"><span>80</span></div>
            <div class="item"><span>81</span></div>
            <div class="item"><span>82</span></div>
            <div class="item"><span>83</span></div>
            <div class="item"><span>84</span></div>
            <div class="item"><span>85</span></div>
            <div class="item"><span>86</span></div>
            <div class="item"><span>87</span></div>
            <div class="item"><span>88</span></div>
            <div class="item"><span>89</span></div>
            <div class="item"><span>90</span></div>
            <div class="item"><span>91</span></div>
            <div class="item"><span>92</span></div>
            <div class="item"><span>93</span></div>
            <div class="item"><span>94</span></div>
            <div class="item"><span>95</span></div>
            <div class="item"><span>96</span></div>
            <div class="item"><span>97</span></div>
            <div class="item"><span>98</span></div>
            <div class="item"><span>99</span></div>
            <div class="item"><span>100</span></div>
        </div>
    </div>
</div>
