<div class="grid-100">
    <h2>jui.juiScrollPane - Jui Scroll Pane Component</h2>

    <p>Generates (a) scrollbar(s) on containers with overflows.</p>
    <button class="toggle-example-1-state">Toggle example 1 state
    </button>
</div>

<div class="grid-45">
    <h2>Example 1</h2>

    <h3>Vertical Scrollbar</h3>

    <div class="first content-pane">
        <div class="content">
            <div class="number-box">01</div>
            <div class="number-box">02</div>
            <div class="number-box">03</div>
            <div class="number-box">04</div>
            <div class="number-box">05</div>
            <div class="number-box">06</div>
            <div class="number-box">07</div>
            <div class="number-box">08</div>
            <div class="number-box">09</div>
            <div class="number-box">10</div>
            <div class="number-box">11</div>
            <div class="number-box">12</div>
            <div class="number-box">13</div>
            <div class="number-box">14</div>
            <div class="number-box">15</div>
            <div class="number-box">16</div>
            <div class="number-box">17</div>
            <div class="number-box">18</div>
            <div class="number-box">19</div>
            <div class="number-box">20</div>
            <div class="number-box">21</div>
            <div class="number-box">22</div>
            <div class="number-box">23</div>
            <div class="number-box">24</div>
            <div class="number-box">25</div>
            <div class="number-box">26</div>
            <div class="number-box">27</div>
            <div class="number-box">28</div>
            <div class="number-box">29</div>
            <div class="number-box">30</div>
            <div class="number-box">31</div>
            <div class="number-box">32</div>
            <div class="number-box">33</div>
            <div class="number-box">34</div>
            <div class="number-box">35</div>
            <div class="number-box">36</div>
            <div class="number-box">37</div>
            <div class="number-box">38</div>
            <div class="number-box">39</div>
            <div class="number-box">40</div>
            <div class="number-box">41</div>
            <div class="number-box">42</div>
            <div class="number-box">43</div>
            <div class="number-box">44</div>
            <div class="number-box">45</div>
            <div class="number-box">46</div>
            <div class="number-box">47</div>
            <div class="number-box">48</div>
            <div class="number-box">49</div>
            <div class="number-box">50</div>
        </div>
    </div>
</div>

<div class="grid-45">
    <h3>Vertical and Horizontal Scrollbars</h3>

    <div class="second content-pane">
        <div class="content">
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
            <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>

        </div>
    </div>
</div>

<div class="grid-100">
    <h3>Caveats</h3>

    <p>You must specify your content container&rsquo;s height yourself
        in
        your css.</p>
</div>

<div class="grid-100">
    <div class="content-pane nested-content-panes">
        <div class="content">
            <div class="content-pane">
                <div class="content">
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                </div>
            </div>
            <div class="content-pane">
                <div class="content">
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                </div>
            </div>
            <div class="content-pane">
                <div class="content">
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                    <div class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


