<div class="grid-45">
    <div class="test-scrollable-dropdown">
        <button class="button">Select an "Other Option":</button>
        <div class="content">
            <ul>
                <li class="first"><a href="javascript: void(0);"
                                     data-value="1">Other Option 1</a>
                </li>
                <li><a href="javascript: void(0);" data-value="2">Other
                    Option 2</a></li>
                <li><a href="javascript: void(0);" data-value="3">Other
                    Option 3</a></li>
                <li><a href="javascript: void(0);" data-value="4">Other
                    Option 4</a></li>
                <li><a href="javascript: void(0);" data-value="5">Other
                    Option 5</a></li>
                <li><a href="javascript: void(0);" data-value="6">Other
                    Option 6</a></li>
                <li><a href="javascript: void(0);" data-value="7">Other
                    Option 7</a></li>
                <li><a href="javascript: void(0);" data-value="8">Other
                    Option 8</a></li>
                <li><a href="javascript: void(0);" data-value="9">Other
                    Option 9</a></li>
                <li><a href="javascript: void(0);" data-value="10">Other
                    Option 10</a></li>
                <li><a href="javascript: void(0);" data-value="11">Other
                    Option 11</a></li>
                <li><a href="javascript: void(0);" data-value="12">Other
                    Option 12</a></li>
                <li><a href="javascript: void(0);" data-value="13">Other
                    Option 13</a></li>
                <li><a href="javascript: void(0);" data-value="14">Other
                    Option 14</a></li>
                <li><a href="javascript: void(0);" data-value="15">Other
                    Option 15</a></li>
                <li><a href="javascript: void(0);" data-value="16">Other
                    Option 16</a></li>
                <li><a href="javascript: void(0);" data-value="17">Other
                    Option 17</a></li>
                <li><a href="javascript: void(0);" data-value="18">Other
                    Option 18</a></li>
                <li><a href="javascript: void(0);" data-value="19">Other
                    Option 19</a></li>
                <li class="last"><a href="javascript: void(0);"
                                    data-value="20">Other Option 20</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="grid-45">
    <div class="test-scrollable-dropdown-2 clipped-drop-down">
        <button class="button">Select an "Other Option":</button>
        <div class="content">
            <ul>
                <li class="first"><a href="javascript: void(0);"
                                     data-value="1">Other Option
                    1</a></li>
                <li><a href="javascript: void(0);" data-value="2">Other
                    Option 2</a></li>
                <li><a href="javascript: void(0);" data-value="3">Other
                    Option 3</a></li>
                <li><a href="javascript: void(0);" data-value="4">Other
                    Option 4</a></li>
                <li><a href="javascript: void(0);" data-value="5">Other
                    Option 5</a></li>
                <li><a href="javascript: void(0);" data-value="6">Other
                    Option 6</a></li>
                <li><a href="javascript: void(0);" data-value="7">Other
                    Option 7</a></li>
                <li><a href="javascript: void(0);" data-value="8">Other
                    Option 8</a></li>
                <li><a href="javascript: void(0);" data-value="9">Other
                    Option 9</a></li>
                <li><a href="javascript: void(0);" data-value="10">Other
                    Option 10</a></li>
                <li><a href="javascript: void(0);" data-value="11">Other
                    Option 11</a></li>
                <li><a href="javascript: void(0);" data-value="12">Other
                    Option 12</a></li>
                <li><a href="javascript: void(0);" data-value="13">Other
                    Option 13</a></li>
                <li><a href="javascript: void(0);" data-value="14">Other
                    Option 14</a></li>
                <li><a href="javascript: void(0);" data-value="15">Other
                    Option 15</a></li>
                <li><a href="javascript: void(0);" data-value="16">Other
                    Option 16</a></li>
                <li><a href="javascript: void(0);" data-value="17">Other
                    Option 17</a></li>
                <li><a href="javascript: void(0);" data-value="18">Other
                    Option 18</a></li>
                <li><a href="javascript: void(0);" data-value="19">Other
                    Option 19</a></li>
                <li class="last"><a href="javascript: void(0);"
                                    data-value="20">Other Option
                    20</a></li>
            </ul>
        </div>
    </div>
</div>
