<div id="jui-select-picker-examples">

    <!-- Select Picker 1 (expands on click) -->
    <div class="example-1 grid-45 view-module-1 clearfix">
        <h3>Select Picker - On Click</h3><br/>
        <button class="btn toggle-select-element">Toggle Original Element
        </button>
        <button class="btn add-items-to-select-element">Add Items to Select
            Element
        </button>
        <br/><br/>
        <label for="categories">Categories: </label><br/>
        <select name="categories" id="categories">
            <option value="null">-- Select a Category --</option>
            <option value="1">Category 1</option>
            <option value="2">Category 2</option>
            <option value="3">Category 3</option>
            <option value="4">Category 4</option>
            <option value="5">Category 5</option>
            <option value="6">Category 6</option>
            <option value="7">Category 7</option>
            <option value="8">Category 8</option>
            <option value="9">Category 9</option>
            <option value="10">Category 10</option>
            <option value="11">Category 11</option>
            <option value="12">Category 12</option>
            <option value="13">Category 13</option>
            <option value="14">Category 14</option>
            <option value="15">Category 15</option>
            <option value="16">Category 16</option>
            <option value="17">Category 17</option>
            <option value="18">Category 18</option>
            <option value="19">Category 19</option>
            <option value="20">Category 20</option>
        </select>
    </div>

    <!-- Select Picker 2 (expands on mouseenter) -->
    <div class="example-2 grid-45 view-module-1 clearfix">
        <h3>Select Picker - On Hover</h3><br/>
        <button class="btn toggle-select-element">Toggle Original Element
        </button>
        <br/><br/>
        <label for="other-options">Other Option: </label><br/>
        <select name="other-options" id="other-options">
            <option>-- Select an "Other Option" --</option>
            <option value="1">Other Option 1</option>
            <option value="2">Other Option 2</option>
            <option value="3">Other Option 3</option>
            <option value="4">Other Option 4</option>
            <option value="5">Other Option 5</option>
            <option value="6">Other Option 6</option>
            <option value="7">Other Option 7</option>
            <option value="8">Other Option 8</option>
        </select>
    </div>


    <!-- Select Picker 3 (expands on mouseenter has no value attributes in select element) -->
    <div class="example-3 grid-45 view-module-1 clearfix">
        <h3>Select Picker - On Hover</h3><br/>
        <button class="btn toggle-select-element">Toggle Original Element
        </button>
        <br/><br/>
        <label for="other-options">Other Option: </label><br/>
        <select name="other-options" id="other-options">
            <option>-- Select an "Other Option 2" --</option>
            <option>Other Option 1</option>
            <option>Other Option 2</option>
            <option>Other Option 3</option>
            <option>Other Option 4</option>
            <option>Other Option 5</option>
        </select>
    </div>

    <!-- Select Picker 4 (expands on mouseenter has no value attributes in select element) -->
    <div class="example-4 grid-45 view-module-1 clearfix">
        <h3>Select Picker - Dynamic Height</h3><br/>
        <p>For drop downs with content with less height than the max content area height</p>
        <button class="btn toggle-select-element">Toggle Original Element
        </button>
        <br/><br/>
        <label for="other-options">Other Option: </label><br/>
        <select name="example-4-options" id="example-4-options">
            <option>-- Select an Option --</option>
            <option>Other Option 1</option>
            <option>Other Option 2</option>
            <option>Other Option 3</option>
        </select>
    </div>

</div>
<!-- Wrapper -->