/* line 2, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down {
  position: absolute;
  border: 1px solid #888;
  background: #fff;
  width: auto;
  min-width: 320px;
  max-height: 280px;
  color: #888;
}
/* line 12, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.expanded {
  border: 1px solid #000;
}
/* line 16, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .button {
  position: relative;
  width: 100%;
  background: #fff;
  border: none;
  text-align: left;
  z-index: 98;
}
/* line 24, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content {
  position: absolute;
  width: 100% !important;
  overflow: hidden;
  max-height: 220px;
  background: #fff;
  z-index: 97;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 33, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li {
  width: 100%;
  list-style: none;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 39, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li a {
  display: block;
  padding: 10px;
}
/* line 43, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li.first {
  border-top: none !important;
}
/* line 46, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li.last {
  border-bottom: none;
}
/* line 52, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .vertical.scrollbar {
  position: absolute;
  top: auto !important;
  right: 10px;
  width: 8px;
  height: 220px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  z-index: 99;
}
/* line 60, ../sass/jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .vertical.scrollbar .handle {
  width: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
