.jui-select-picker-example-1 {
    .options {
        width: 100%;
        height: 240px;
        ul {
            width: 100%;
        }
        .selected {
            color: green;
        }
    }
}

