/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../bower_components/unsemantic/assets/sass/unsemantic-grid-desktop";
@import "../../src/css/jui-commons/jui-commons.css";
@import "jui-scrollable-drop-down-example";
@import "jui-scroll-pane-example";
@import "jui-floating-scroll-indicators-example";
@import "jui-paginators-example";
@import "jui-affix-example";
@import "effects-example";

html, body {
    background: #ccc;
}

h1, h3 {
    font: bold 122%"Helvetica Neue", Arial, Helvetica, sans-serif ! important;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 200% !important;
}
textarea {
    padding: 10px;
    @include border-radius(20px);
}
header, section, nav,
section > div {
    margin: 10px;
}

nav > ul {
    @include horizontal-list(10px, left);
    > li {
        a {
            padding: 10px;
            display: block;
        }
    }
}

label {
    font: normal 100% "Arial Black", Arial, Verdana, "Sans-serif";
    margin-bottom: 10px;
}
select {
    margin-bottom: 10px;
}

