/* line 3, ../../src/sass/jui-select-picker.scss */
.jui-select-picker {
  position: absolute;
  width: auto;
  min-width: 320px;
  max-height: 280px;
  color: #888;
  background: #fff;
  border: 1px solid #888;
}
/* line 13, ../../src/sass/jui-select-picker.scss */
.jui-select-picker.expanded {
  border: 1px solid #000;
}
/* line 17, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .button {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background: #fff;
  border: none;
  text-align: left;
  cursor: pointer;
  z-index: 98;
}
/* line 32, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .button > span,
.jui-select-picker .button > div,
.jui-select-picker .button .label,
.jui-select-picker .button .selected-item-value,
.jui-select-picker .button .arrow {
  position: relative;
  display: inline-block;
  margin: 10px;
}
/* line 38, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .button .arrow {
  top: 8px;
  float: right;
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: black transparent transparent transparent;
  border-style: solid;
}
/* line 49, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .body {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 55, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 220px;
  background: #fff;
  z-index: 97;
  visibility: visible;
}
/* line 65, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul {
  width: 85%;
  margin: 0 5%;
}
/* line 68, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul li {
  width: 100%;
  border-bottom: 1px solid #ccc;
  list-style: none;
  -webkit-transition: background 0.16s linear;
  -moz-transition: background 0.16s linear;
  -o-transition: background 0.16s linear;
  transition: background 0.16s linear;
}
/* line 74, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background 0.16s linear;
  -moz-transition: background 0.16s linear;
  -o-transition: background 0.16s linear;
  transition: background 0.16s linear;
}
/* line 80, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul li a:hover {
  background: #ddd;
}
/* line 87, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul li a:active,
.jui-select-picker .options ul li a.selected,
.jui-select-picker .options ul li a.active,
.jui-select-picker .options ul li.selected,
.jui-select-picker .options ul li.active {
  background: #ccc;
}
/* line 90, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul li.first {
  border-top: none;
}
/* line 93, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .options ul li.last {
  border-bottom: none;
}
/* line 99, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .scrollbar {
  position: absolute;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  z-index: 99;
}
/* line 105, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .horizontal.scrollbar {
  display: none;
}
/* line 109, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .vertical.scrollbar {
  top: auto;
  right: 10px;
  width: 8px;
  height: 220px;
}
/* line 115, ../../src/sass/jui-select-picker.scss */
.jui-select-picker .vertical.scrollbar .handle {
  width: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 126, ../../src/sass/jui-select-picker.scss */
.lt-ie9 .expanded .scrollbar,
.lt-ie9 .expanded .options {
  display: block;
}
/* line 134, ../../src/sass/jui-select-picker.scss */
.lt-ie9 .collapsed .scrollbar,
.lt-ie9 .collapsed .options {
  display: none;
}
