html, body {
  margin: 0;
  padding: 10px;
  font: normal 110% Arial, Helvetica, Verdana, sans-serif;
}

.none {
  display: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

//
.creative-slide-show {
  position: relative;
  width: 100%;
  min-width: 1024px;
  height: 240px;
  min-height: 240px;

  header, footer, section, .body, .item, .items, .controls, div {
    position: relative;
  }

  .items {
    width: 100%;
    height: 240px;
    float: left;

    .item {
      position: relative;
      overflow: hidden;
      width: 32px;
      height: 240px;
      float: left;
      background: rgba(0, 0, 0, 0.38);
      border: 3px solid #000;

      &.selected {
        width: 320px;
      }

      header {
        position: absolute;
        width: 320px;
        height: 36px;
        background: rgba(0,0,0,0.38);
        border-bottom: 3px solid #000;
      }
      .body {
        position: absolute;
        top: 36px;
        clear: both;
        float: left;
        width: 100%;
        .dir {
          border: 1px solid #fff;
        }
      }

      .body .right {
        position: absolute;
        width: 140px;
        right: 0;
      }

      .body .left {
        position: absolute;
        width: 140px;
        left: 0;
      }
    }
    // .item

  }
  // .items
}

// .creative-...
