/* line 4, ../sass/example.scss */
html, body {
  margin: 0;
  padding: 10px;
  font: normal 110% Arial, Helvetica, Verdana, sans-serif;
}

/* line 10, ../sass/example.scss */
.none {
  display: none;
}

/* line 14, ../sass/example.scss */
.wrapper {
  position: relative;
  width: 100%;
}

/* line 20, ../sass/example.scss */
.creative-slide-show {
  position: relative;
  width: 100%;
  min-width: 1024px;
  height: 400px;
  min-height: 400px;
  background: #96f226;
  overflow: hidden;
  z-index: 9999;
}
/* line 30, ../sass/example.scss */
.creative-slide-show header, .creative-slide-show footer, .creative-slide-show section, .creative-slide-show .body, .creative-slide-show .item, .creative-slide-show .items, .creative-slide-show .controls, .creative-slide-show div {
  position: relative;
}
/* line 35, ../sass/example.scss */
.creative-slide-show > .prev-btn,
.creative-slide-show > .next-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 64px;
  height: 100%;
  text-align: center;
  vertical-align: center;
  font: bold 38px;
  background: rgba(255, 255, 255, 0.38);
  z-index: 10001;
}
/* line 47, ../sass/example.scss */
.creative-slide-show > .prev-btn {
  float: left;
  left: 0;
}
/* line 51, ../sass/example.scss */
.creative-slide-show > .next-btn {
  float: right;
  right: 0;
}
/* line 56, ../sass/example.scss */
.creative-slide-show .items {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 1024px;
  height: auto;
  margin-top: 80px;
  float: left;
  z-index: 10000;
}
/* line 66, ../sass/example.scss */
.creative-slide-show .items .item {
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 240px;
  float: left;
  background: #78ff78;
  border: 3px solid #000;
}
/* line 78, ../sass/example.scss */
.creative-slide-show .items .item.selected {
  margin-top: -40px;
  width: 320px;
  height: 320px;
}
/* line 84, ../sass/example.scss */
.creative-slide-show .items .item:hover {
  z-index: 10001;
}
/* line 88, ../sass/example.scss */
.creative-slide-show .items .item header {
  position: absolute;
  width: 320px;
  height: 36px;
  background: rgba(0, 0, 0, 0.38);
  border-bottom: 3px solid #000;
}
/* line 95, ../sass/example.scss */
.creative-slide-show .items .item .body {
  position: absolute;
  top: 36px;
  clear: both;
  float: left;
  width: 100%;
}
/* line 101, ../sass/example.scss */
.creative-slide-show .items .item .body .column {
  position: absolute;
  border: 1px solid #fff;
  margin: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
}
/* line 110, ../sass/example.scss */
.creative-slide-show .items .item .body .right {
  width: 120px;
  float: right;
  right: 0;
}
/* line 116, ../sass/example.scss */
.creative-slide-show .items .item .body .left {
  width: 120px;
  float: left;
  left: 0;
}
