/* line 1, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker {
  position: relative;
  outline: solid #888 1px;
  background: #fff;
  width: 320px;
  max-height: 280px;
  color: #888;
}
/* line 2, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker.expanded {
  outline: solid #000 1px;
}
/* line 3, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker.expanded .options {
  outline: solid #000 1px;
}
/* line 16, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .button {
  position: relative;
  display: border-box;
  width: 100%;
  height: 2em;
  background: #fff;
  border: none;
  text-align: left;
  vertical-align: center;
  z-index: 98;
}
/* line 26, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .button .label {
  margin: 1em;
}
/* line 31, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 240px;
  outline: solid #888 1px;
  background: #fff;
  z-index: 97;
}
/* line 41, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li {
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 46, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li a {
  display: block;
  padding: 10px;
}
/* line 50, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li.first {
  border-top: none !important;
}
/* line 53, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li.last {
  border-bottom: none;
}
/* line 59, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .vertical.scrollbar {
  position: absolute;
  top: 42px;
  height: 240px !important;
  z-index: 99;
}

/* line 3, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar {
  position: absolute;
  background: #ddd;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 7, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar .handle {
  background: #888;
}
/* line 12, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar.vertical {
  top: 0;
  right: 0;
  height: 100%;
  width: 13px;
}
/* line 17, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar.vertical .handle {
  width: 13px;
}
/* line 22, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar.horizontal {
  bottom: 0;
  left: 0;
  height: 13px;
  width: 100%;
}
/* line 27, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar.horizontal .handle {
  height: 13px;
}

/* line 1, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down {
  position: relative;
  outline: solid #888 1px;
  background: #fff;
  width: 320px;
  max-height: 280px;
  color: #888;
}
/* line 2, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.expanded {
  outline: solid #000 1px;
}
/* line 3, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.expanded .options {
  outline: solid #000 1px;
}
/* line 16, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .button {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #fff;
  height: 42px;
  border: none;
  text-align: left;
  z-index: 98;
}
/* line 27, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 240px;
  outline: solid #000 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: #fff;
  z-index: 97;
}
/* line 37, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li {
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 42, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li a {
  display: block;
  padding: 10px;
}
/* line 46, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li.first {
  border-top: none !important;
}
/* line 49, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li.last {
  border-bottom: none;
}
/* line 55, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .vertical.scrollbar {
  position: absolute;
  top: 42px;
  height: 240px;
  z-index: 99;
}

/* line 2, ../../sass/jui-commons/jui-floating-scroll-indicators.scss */
.jui-floating-scroll-indicator > .indicator-wrapper {
  position: absolute;
  right: 20px;
  height: 100%;
  top: 0;
}
/* line 7, ../../sass/jui-commons/jui-floating-scroll-indicators.scss */
.jui-floating-scroll-indicator > .indicator-wrapper .indicator {
  position: relative;
  background: #FF0000;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 7, ../../sass/jui-commons/jui-commons.scss */
.selected {
  color: green;
}
