/* line 1, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker {
  position: relative;
  border: 1px solid #888;
  background: #fff;
  width: 320px;
  max-height: 280px;
  color: #888;
}
/* line 10, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .button {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #fff;
  height: 42px;
  border: none;
  text-align: left;
  z-index: 98;
}
/* line 21, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 240px;
  outline: solid #000 1px;
  background: #fff;
  z-index: 97;
}
/* line 30, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li {
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 35, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li a {
  display: block;
  padding: 10px;
}
/* line 39, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li.first {
  border-top: none !important;
}
/* line 42, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li.last {
  border-bottom: none;
}
/* line 48, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .scrollbar {
  position: absolute;
  height: 282px !important;
  width: 10px !important;
  z-index: 99;
}

/* line 2, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2%;
  background: #ddd;
}
/* line 9, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar .handle {
  background: #ccc;
}

/* line 2, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down {
  position: relative;
  border: 1px solid #888;
  background: #fff;
  width: 320px;
  max-height: 280px;
  color: #888;
}
/* line 11, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .button {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #fff;
  height: 42px;
  border: none;
  text-align: left;
  z-index: 1;
}
/* line 22, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 240px;
  outline: solid #000 1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: #fff;
}
/* line 31, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li {
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 36, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li a {
  display: block;
  padding: 10px;
}
/* line 40, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li.first {
  border-top: none !important;
}
/* line 43, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down .content ul li.last {
  border-bottom: none;
}

/* line 53, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.jui-scroll-pane:hover .scrollbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 57, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.jui-scroll-pane .scrollbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 275px;
  z-index: 3;
}

/* line 68, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.expands-on-click.active .content, .jui-scrollable-drop-down.expands-on-click:active .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 77, ../../sass/jui-commons/_jui-scrollable-drop-down.scss */
.jui-scrollable-drop-down.expands-on-mouseover:hover .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
