/* line 1, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker {
  position: relative;
  border: 1px solid #888;
  background: #fff;
  width: 320px;
  color: #888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 10, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .button {
  position: relative;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
}
/* line 19, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options {
  position: absolute;
  background: #fff;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 24, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li {
  width: 100%;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
/* line 29, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li a {
  display: block;
  padding: 10px;
}
/* line 33, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li.first {
  border-top: none;
}
/* line 36, ../../sass/jui-commons/_jui-select-picker.scss */
.jui-select-picker .options ul li.last {
  border-bottom: none;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 2, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2%;
  background: #ddd;
}
/* line 9, ../../sass/jui-commons/_jui-scroll-pane.scss */
.jui-scroll-pane .scrollbar .handle {
  background: #ccc;
}
