.jui-select-picker {

    position: absolute;
    width: 320px;
    max-height: 280px;
    color: #888;
    background: #fff;
    border: 1px solid #888;

    &.expanded {
        .options {
            border: 1px solid #000;
        }
        border: 1px solid #000;
    }

    .button {
        position: relative;
        display: border-box;
        width: 100%;
        height: auto;
        background: #fff;
        border: none;
        text-align: left;
        cursor: pointer;
        z-index: 98;

        > span,
        > div,
        .label,
        .selected-item-value,
        .arrow {
            position: relative;
            display: inline-block;
            margin: 10px;
        }

        .arrow {
            top: 8px;
            float: right;
            width: 0;
            height: 0;
            border-width: 5px;
            border-color: black transparent transparent transparent;
            border-style: solid;
        }
    }

    .body {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .options {
        position: absolute;
        width: 100%;
        overflow: hidden;
        max-height: 220px;
        background: #fff;
        z-index: 97;
        @include opacity(0);

        ul {
            width: 85%;
            margin: 0 5%;
            li {
                width: 100%;
                border-bottom: 1px solid #ccc;
                list-style: none;
                @include single-transition(background, 0.16s, linear);
            }
            li a {
                display: block;
                padding: 10px;
                text-decoration: none;
                @include single-transition(background, 0.16s, linear);
            }
            li a:hover {
                background: #ddd;
            }
            li a:active,
            li a.selected,
            li a.active,
            li.selected,
            li.active {
                background: #ccc;
            }
            li.first {
                border-top: none;
            }
            li.last {
                border-bottom: none;
            }
        }
    }

    .vertical.scrollbar {
        position: absolute;
        top: auto;
        right: 10px;
        width: 8px;
        height: 220px;
        @include opacity(0);
        @include border-radius(8px);
        z-index: 99;

        .handle {
            width: 8px;
            @include border-radius(8px);
        }
    }
}
