.jui-scroll-pane {

    .scrollbar {
        position: absolute;
        background: #ddd;
        @include opacity(0.80);
        .handle {
            background: #888;
        }
    }

    .scrollbar.vertical {
        top: 0;
        right: 0;
        height: 100%;
        width: 13px;
        .handle {
            width: 13px;
        }
    }

    .scrollbar.horizontal {
        bottom: 0;
        left: 0;
        height: 13px;
        width: 100%;
        .handle {
            height: 13px;
        }
    }

}