
.jui-scrollable-drop-down {

    position: relative;
    border: 1px solid #888;
    background: #fff;
    width: 320px;
    max-height: 280px;
    color: #888;

    .button {
        position: relative;
        width: 100%;
        padding: 10px;
        background: #fff;
        height: 42px;
        border: none;
        text-align: left;
        z-index: 1;
    }

    .content {
        position: absolute;
        width: 100%;
        overflow: hidden;
        max-height: 240px;
        outline: solid #000 1px;
        @include opacity(1);
        background: #fff;
        ul {
            li {
                width: 100%;
                border-top: 1px solid #888;
                border-bottom: 1px solid #888;
            }
            li a {
                display: block;
                padding: 10px;
            }
            li.first {
                border-top: none !important;
            }
            li.last {
                border-bottom: none;
            }
        }
    }
}

// Scrollpane scrollbar
.jui-scrollable-drop-down.jui-scroll-pane {
    &:hover {
        .scrollbar {
            @include opacity(1);
        }
    }
    .scrollbar {
        @include opacity(0);
        height: 275px;
        z-index: 3;
    }
}

// Mouse Event Fallback
.jui-scrollable-drop-down.expands-on-click {
    &.active,
    &:active {
        .content {
            @include opacity(1);
        }
    }
}

// Mouse Event Fallback
.jui-scrollable-drop-down.expands-on-mouseover {
    &:hover {
        .content {
            @include opacity(1);
        }
    }
}
