.jui-select-picker {
    &.expanded {
        .options {
            outline: solid #000 1px;
        }
        outline: solid #000 1px;
    }

    position: relative;
    outline: solid #888 1px;
    background: #fff;
    width: 320px;
    max-height: 280px;
    color: #888;

    .button {
        position: relative;
        display: border-box;
        width: 100%;
        height: 2em;
        background: #fff;
        border: none;
        text-align: left;
        vertical-align: center;
        z-index: 98;
        .label {
            margin: 1em;
        }
    }

    .options {
        position: absolute;
        width: 100%;
        overflow: hidden;
        max-height: 240px;
        outline: solid #888 1px;
        background: #fff;
        z-index: 97;

        ul {
            li {
                width: 100%;
                border-top: 1px solid #888;
                border-bottom: 1px solid #888;
            }
            li a {
                display: block;
                padding: 10px;
            }
            li.first {
                border-top: none !important;
            }
            li.last {
                border-bottom: none;
            }
        }
    }

    .vertical.scrollbar {
        position: absolute;
        top: 42px;
        height: 240px !important;
        z-index: 99;
    }
}
