.jui-floating-scroll-indicator {
    > .indicator-wrapper {
        position: absolute;
        right: 20px;
        height: 100%;
        top: 0;
        .indicator {
            position: relative;
            background: #FF0000;
            border: 1px solid #000;
            width: 10px;
            height: 10px;
            @include opacity(0.8);
            @include scale(1);
            @include border-radius(10px);
            @include single-transition(transform, 0.3s, linear);
            @include single-transition(background, 0.3s, linear);
            @include single-transition(background-color, 0.3s, linear);
            &:hover {
                @include scale(1.3);
                @include opacity(1);
            }
            &:active {
                @include scale(1.1);
                background: #99000;
            }
        }
    }
}