.jui-floating-scroll-indicator {
    > .indicator-wrapper {
        position: absolute;
        right: 20px;
        height: 100%;
        top: 0;
        .indicator {
            position: relative;
            background: #FF0000;
            width: 10px;
            height: 10px;
            @include border-radius(10px);
        }
    }
}